<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Form</title>
  <link rel="stylesheet" href="register.component.css">
</head>
<body>
<div class="container">
  <div class="form">
    <h2>Đăng kí</h2>
    <input type="text" placeholder="Họ và tên" required>
    <input type="email" placeholder="Email" required>
    <input type="password" placeholder="Mật khẩu" required>
    <button>Đăng kí</button>
    <p class="toggle">
      <a href="login">Đã có tài khoản? Đăng nhập</a>
    </p>
  </div>
</div>
</body>
</html>
